$z-index-pre-low: 50;
$z-index-low: 100;
$z-index-hight: 500;
$z-index-root: 9999;

$white: #FFF;
$black: #222222;
$green: #298100;
$red: #D71515;

$yellow: #FFE666; 
$yellow-hover: #FDDF49;

$border-color: #F2F2F2;
$border-color-gray: #DEE0E3;